# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
finact/node_modules
finact/.pnp
finact/.pnp.js

# testing
finact/coverage

# next.js
finact/.next/
finact/out/

# production
finact/build

# misc
finact/.DS_Store
finact/*.pem

# debug
finact/npm-debug.log*
finact/yarn-debug.log*
finact/yarn-error.log*

# local env files
finact/.env*.local

# vercel
finact/.vercel

# typescript
finact/*.tsbuildinfo
finact/next-env.d.ts
