# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
work-financial-trends/node_modules
work-financial-trends/.pnp
work-financial-trends/.pnp.js

# testing
work-financial-trends/coverage

# next.js
work-financial-trends/.next/
work-financial-trends/out/

# production
work-financial-trends/build

# misc
work-financial-trends/.DS_Store
work-financial-trends/*.pem

# debug
work-financial-trends/npm-debug.log*
work-financial-trends/yarn-debug.log*
work-financial-trends/yarn-error.log*

# local env files
work-financial-trends/.env*.local

# vercel
work-financial-trends/.vercel

# typescript
work-financial-trends/*.tsbuildinfo
work-financial-trends/next-env.d.ts
