<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title> Showan Simkhada | Developer </title>
        <link href="/protfolio/views/home/styles.css" rel="stylesheet">
    </head>
    <body class="main">
        <!-- Nav Bar -->
        <div class="navbar half">
            <div class="nav-head ptl">
                <h1> Showan Simkhada </h1>
                <p> Web | Software Developer </p>
            </div>
            <div class="nav-item ptl">
                <p> <a href="#about" ></a><a href="#about"> About </a></p>
                <p> <a href="#experience" > Experience </a> </p>
                <p> <a href="#project" > Project </a> </p>
                <p> <a href="#prof" > Professional Development</a></p>
                <p> <a href="#interest" > Interest </a> </p>
            </div>
            <div class="nav-social ptl">
                <p> GitHub </p>
                <p> LinkedIn </p>
            </div>
        </div>
        <main class="half">
            <div id="about" class="ptl">
                <p>
                    Detail-oriented and highly motivated Web Developer with extensive experience in JavaScript,
                    React and .NET  framework. Adept at designing, developing and maintaining web applications
                    to enhance user experiences. Proven track record of delivering high-quality projects on time.
                    Seeking a full-time position in the IT and telecommunications industry to contribute to innovative
                    projects and drive technological advancements.
                </p>
            </div>
            <div id="experience">
                <div>
                    <ul>
                        <li>
                            <div class="exp-card">
                                <p>Feb 2022 - Present</p>
                                <p>Process Worker</p>
                                <p>OP Columbia, Whitianga, New Zealand</p>
                                <p>Opened mussels and ensured high-quality standards.</p>
                            </div>
                        </li>
                        <li>
                            <div class="exp-card">
                                <p>Nov 2020 - Oct 2021</p>
                                <p>Courier Driver</p>
                                <p>Patialvi Enterprises Limited, Hamilton, New Zealand</p>
                                <p>Delivered goods accurately and promptly to specified destinations.</p>
                            </div>
                        </li>
                        <li>
                            <div class="exp-card">
                                <p>Jul 2019 - Nov 2020</p>
                                <p>Software Developer and General Support</p>
                                <p>Rennacs Limited, Hamilton, New Zealand</p>
                                <p>Designed and developed an application using the .NET framework.</p>
                                <p>Analysed business wellness trends and collected data for reverse engineering purposes.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="projects">
                <ul>
                    <li>
                        <p>Trends with React</p>
                        <p>Details</p>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>