extends nav
block head
    title Home
    meta(name='description', content='HOME')
block content
    div(id='bs' class='d-flex mt-5 pt-3')
        form(action='/bs/data' method='post')    
            div(class='d-flex')
                table(id='bsOutput' class='table table-bordered')
                    thead
                        tr
                            th Date
                            th #{firstname}'s Wage 
                            th #{sfirstname}'s Wage 
                            th Return
                            th Opening Balance 
                            th Closing Balance 
                            th Weekly Spent 
                            th Weekly Save
                    tfoot
                        tr
                            td
                                input(type='date' name='bsDate' id='bsDate' class='w-100')
                            td
                                input(name='fWE' onchange='weeklySave()' id='fWE' class='w-100')
                            td
                                input(name='sWE' onchange='weeklySave()' id='sWE' class='w-100')
                            td
                                input(name='ret' onchange='weeklySave()' id='ret' class='w-100')
                            td
                                input(name='oB' onchange='weeklySave()' id='oB' class='w-100')
                            td
                                input(name='cB' onchange='weeklySave()' id='cB' class='w-100')
                            td
                                input(name='wSp' id='wSp' class='w-100')
                            td
                                input(name='wSa' id='wSa' class='w-100')
            div(class='d-flex')
                table(class='table table-bordered w-75')
                    thead
                        tr
                            th GO
                            th Online
                            th Serious Saver
                            th Total
                    tbody
                        tr
                            td
                                input(id='go' onchange='sumBs()' class='w-100')
                            td
                                input(id='online' onchange='sumBs()' class='w-100')
                            td
                                input(id='serious' onchange='sumBs()' class='w-100')
                            td
                                input(id='aTotal' class='w-100')
                input(type='submit' value='Submit' class='table btn btn-primary w-25')
    div(id='mo' class='d-flex align-content-start')
        form(action='/mo/data' method='post')
            table(id="moOutput" class='table table-bordered')
                thead
                    tr
                        th Date
                        th Spot
                        th First Shift 
                        th Second Shift 
                        th Third Shift 
                        th Total
                tfoot
                    tr
                        td
                            input(type='date' name='moDate' id='moDate' onchange='getWeekday()' class='w-100')
                        td(hidden)
                            input(type='string' name='weekdays' id='weekdays' class='w-100')
                        td
                            input(name='spot' id='spot' class='w-100')
                        td
                            input(name='fShift' onchange='sumMo()' id='fShift' class='w-100')
                        td
                            input(name='sShift' onchange='sumMo()' id='sShift' class='w-100')
                        td
                            input(name='tShift' onchange='sumMo()' id='tShift' class='w-100')
                        td
                            input(type='int' name="moTotal" id="moTotal" class='w-100')
                    tr  
                        td(colspan='2')
                            input(type='submit' value='Submit' class='btn btn-primary w-100')
                        td(colspan='3' class='text-end')
                            label Week Total
                        td
                            input(type='int' id='weekTotal' class='w-100')
    script(type='text/javascript' src='/public/js/bs.js')
    script(type='text/javascript' src='/public/js/mo.js')