extends nav
block head
    title Mussel Opened
    meta(name='description', content='MO')
block content
    div(class='d-flex mt-5 pt-3')        
        table(id='moOutput' class='table table-bordered table-hover')
            thead
                tr
                    th Date
                    th Weekdays
                    th Spot
                    th First Shift
                    th Second Shift
                    th Third Shift
                    th Total
    div(id='updateBoxContainer' class='align-items-center justify-content-center')
        form(action='/mo/update' method='post')
            div(class='d-flex flex-column align-items-center bg-info p-2')
                label #{username.toUpperCase()}
                div(class='d-flex flex-row bg-warning border border-success border-4' action='/mo/data')
                    div(class='d-flex flex-column justify-content-around w-50') 
                        label Date
                        label Weekday
                        label Spot
                        label First Shift
                        label Second Shift
                        label Third Shift
                        label Total
                    div(class='d-flex flex-column align-items-end w-50')
                        input(id='moDate' type='date' name='moDate' class='w-75')
                        input(id='weekdays' name='weekdays' class='w-75')
                        input(id='spot' name='spot' class='w-75')
                        input(id='fShift' name='fShift' class='w-75' onchange='sumMo()')
                        input(id='sShift' name='sShift' class='w-75' onchange='sumMo()')
                        input(id='tShift' name='tShift' class='w-75' onchange='sumMo()')
                        input(id='moTotal' name='moTotal' class='w-75')
                        input(id='mID' name='mID' hidden) 
                div(class='d-flex w-100')
                    input(id='ok' type='button' value='OK' class='btn btn-success w-100')
                    input(id='uMO' type='button' value='Update' class='btn btn-warning w-100' disabled)
                    input(id='dMO' type='submit' value='Delete' class='btn btn-danger w-100' method='post')
    script(type='text/javascript' src='/public/js/mo.js')