:root {
  --color-bg: aqua;
  --color-nav: rgb(58, 55, 55);
  --text-nav: #fff;
  --btn-submit: rgba(27, 146, 232, 0.972);
  --btn-delete: red;
  --btn-confirm: green;
  --btn-edit: yellow;
  --btn-hover: orange;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 2rem auto;
  max-width: 590px;
  height: 95vh;
  background-color: var(--color-bg);
}

input {
  height: 25px;
}

button[type="submit"] {
  background-color: var(--btn-submit);
}

button[type="submit"]:hover {
  background-color: var(--btn-hover);
}

input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
  border-radius: 4px;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loginForm form {
  margin-top: -450px;
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.inputContainer label {
  position: absolute;
  left: 0.7rem;
  top: 20%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.inputContainer input {
  height: 4.5rem;
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-out;
}

.inputContainer input:focus {
  outline: none;
  border-color: #007bff;
}

.inputContainer input[type="text"] {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  vertical-align: text-bottom;
}

.inputContainer input[type="password"] {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.inputContainer input:not(:placeholder-shown) + label,
.inputContainer input:focus + label {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  font-size: 0.9rem;
  padding: 0 5px;
  background-color: #fff;
  color: #007bff;
}

.loginForm button {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 20px;
}

.errorMsg {
  font-size: 1.5rem;
  text-align: center;
  color: rgba(230, 0, 0, 1);
}

.navBar {
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 2rem;
  background-color: var(--color-nav);
  padding: 0 1rem
}

.navWidth {
  display: flex;
  width: 590px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.navWidth p {
  color: var(--text-nav);
  margin: 5px 0;
}

.navWidth button {
  margin: 0;
  padding: 0;
}

.navLinks {
  display: flex;
  flex-direction: column;
  padding: 0 0.2rem;
  margin: 0;
}

.navLinks a:active {
  background-color: var(--btn-hover);
}

.signOutBtn {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.signOutBtn button {
  margin-top: -2px;
  padding: 0;
}

.signOutBtn p {
  font-size: 0.9rem;
}

.dash {
  display: grid;
  grid-template-areas:
    'left right'
    'dashBtn dashBtn';
  grid-template-columns: 1fr 6rem;
  gap: 10px;
  padding: 0 5px;
}

.dash input {
  display: flex;
  width: 40%;
  text-align: right;
  padding: 5px 10px;
  margin: 3px 5px;
  --webkit-appearance: none;
  border: 1px solid black;
}

.dash input::-webkit-outer-spin-button,
.dash input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dashL {
  display: flex;
  grid-area: left;
  flex-direction: column;
}

.dashH {
  display: flex;
  flex-direction: column;
  border: 1px solid magenta;
  border-radius: 8px;
  padding: 5px 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dashT {
  display: flex;
  align-self: flex-start;
  font-size: 1.5rem;
}

.dashLa {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px dashed black;
}

.dashLa div {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
}

.dashLa input {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
  background-color: var(--color-bg);
}

.dashLa div:last-child {
  border-left: 1px dashed black;
}

.dashI {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px dashed black;
}

.dashI input {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
}

.dashI input:last-child {
  display: flex;
  align-items: flex-end;
}

.dashR {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 5px;
}

.dashR label {
  line-height: 1.55;
}

.dashR input {
  border: none;
  width: 100%;
}

.mathExp {
  display: grid;
  grid-template-areas: "sign amt";
  grid-template-columns: 0.5fr 2fr;
}

.leftExp {
  grid-area: sign;
  justify-self: left;
}

.rightExp {
  grid-area: amt;
  justify-self: right;
}

.sumExp {
  display: flex;
  align-content: space-evenly;
}

.dashBtn {
  grid-area: dashBtn;
}

.dashBtn button {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  justify-content: center;
}

.bsPage table {
  width: 590px;
}

.bsPage table th, .bsPage table td{
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.bsPage table th:last-child, .bsPage table td:last-child {
  border-right: 1px solid black;
}

.bsPage table tfoot td {
  border-bottom: 1px solid black;
}

.profile {
  display: grid;
  padding: 10px 20px;
  grid-template-areas: "label input submit";
  grid-template-columns: 1fr 1fr 0.5fr;
  border: 1px solid magenta;
  border-radius: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  column-gap: 5px;
}

.profile label {
  grid-area: label;
  display: block;
  margin: 8.85px 0;
}

.profile input {
  width: 93%;
  grid-area: input;
  display: block;
  padding: 5px 0;
  margin-bottom: 5px;
}

.profile button {
  display: block;
  grid-area: submit;
  height: fit-content;
}

/* Report page */
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0 0.2rem;
}

.card button {
  width: 5rem;
  height: 2rem;
}

.cardYear {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.cardDetail {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.cardType {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 15%;
}

.cardList {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cardList .cardName {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.cardBrief {
  display: flex;
}

.cardEmployer {
  display: flex;
  width: 100%;
  border: 1px solid magenta;
}

.cardListD h1 {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.cardListD {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid magenta;
  margin-bottom: 0.5rem;
}

.cardListDT {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cardTax {
  display: flex;
  width: 50%;
  flex-direction: column;
  border: 1px solid black;
}

.cardTax p {
  margin-left: 0.5rem;
}

.cardMonthIncome {
  min-width: 33.33%;
}

.cardMonthIncome div {
  padding: 5px 10px;
  border: 2px solid blue;
}

.cardMonthIncome :nth-last-child(1) {
  background-color: white;
}

.cardMonthIncome :nth-last-child(2) {
  background-color: green;
}