:root {
  --color-bg: aqua;
  --color-nav: rgb(58, 55, 55);
  --text-nav: #fff;
  --btn-submit: rgba(27, 146, 232, 0.972);
  --btn-delete: red;
  --btn-confirm: green;
  --btn-edit: yellow;
  --btn-hover: orange;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 45px auto;
  max-width: 600px;
  overflow: hidden;
  background-color: var(--color-bg);
}

input {
  height: 25px;
}

button[type="submit"] {
  background-color: var(--btn-submit);
}

button[type="submit"]:hover {
  background-color: var(--btn-hover);
}

input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
  border-radius: 4px;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loginForm form {
  margin-top: -450px;
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.inputContainer label {
  position: absolute;
  left: 0.7rem;
  top: 20%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.inputContainer input {
  height: 4.5rem;
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-out;
}

.inputContainer input:focus {
  outline: none;
  border-color: #007bff;
}

.inputContainer input[type="text"] {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  vertical-align: text-bottom;
}

.inputContainer input[type="password"] {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.inputContainer input:not(:placeholder-shown) + label,
.inputContainer input:focus + label {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  font-size: 0.9rem;
  padding: 0 5px;
  background-color: #fff;
  color: #007bff;
}

.loginForm button {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 20px;
}

.errorMsg {
  font-size: 1.5rem;
  text-align: center;
  color: rgba(230, 0, 0, 1);
}

.navBar {
  padding: 10px;
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: var(--color-nav);
  justify-content: space-around;
}

.navLinks {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.navLinks p,
.navBar p {
  color: var(--text-nav);
}

.signOutBtn {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.signOutBtn p {
  font-size: 0.9rem;
}

.dash {
  display: grid;
  grid-template-areas: 
    'label input exp'
    'dashBtn dashBtn dashBtn';
  grid-template-columns: 1fr 1fr 55px;
  gap: 10px;
  padding: 0 15px;
}

.dashLabel {
  display: grid;
  grid-area: label;
  grid-template-rows: max-content;
}

.dashLabel label {
  display: block;
  padding: 6.5px 0;
}

.dashInput {
  grid-area: input;
  grid-template-rows: auto;
  column-gap: 10px;
}

.dashInput input {
  display: block;
  width: 100%;
  padding: 5px 0;
  --webkit-appearance: none;
  margin: 6px 0;
  border: 1px solid black;
}

.dashInput input::-webkit-outer-spin-button,
.dashInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dashExp {
  grid-area: exp;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 5px;
}

.dashExp label {
  line-height: 1.55;
}

.mathExp {
  display: grid;
  grid-template-areas: "sign amt";
  grid-template-columns: 0.5fr 2fr;
}

.leftExp {
  grid-area: sign;
  justify-self: left;
}

.rightExp {
  grid-area: amt;
  justify-self: right;
}

.sumExp {
  align-self: self-end;
  justify-self: right;
}

.dashBtn {
  grid-area: dashBtn;
}

.dashBtn button {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  justify-content: center;
}

.profile {
  display: grid;
  padding: 10px 20px;
  grid-template-areas: "label input submit";
  grid-template-columns: 1fr 1fr 0.5fr;
  border: 1px solid magenta;
  border-radius: 8px;
  width: 75%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.profile label {
  grid-area: label;
  display: block;
  margin: 8.85px 0;
}

.profile input {
  grid-area: input;
  display: block;
  padding: 5px 0;
  margin-bottom: 5px;
}

.profile button {
  display: block;
  grid-area: submit;
  height: fit-content;
}