@import url('bootstrap/dist/css/bootstrap.min.css');
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
		width: 100vw;
        margin: 0;
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
    }

	/* For sign in forms*/
	.form-signin {
		margin-top: -25vh;
		background-color: aqua;
		padding: 20px;
		border-radius: 15px;
		width: fit-content;
	}

    .react-logo {
        width: 55;
        height: 55;
    }

	.form-floating {
		position: relative;
	}
	
	.form-control {
		width: 100%;
		color: var(--bs-body-color);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: var(--bs-body-bg);
		border: var(--bs-border-width) solid var(--bs-border-color);
		border-radius: var(--bs-border-radius);
		background-clip: padding-box;
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		display: block;
	}

	.form-signin input[type="text"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.btn {
		border-radius: 20px;
		background-color: rgba(22, 36, 240, 0.575);
		width: 100%;
	}

	.btn:hover {
		background-color: aquamarine;
	}

    p {
        color: rgb(8, 8, 22);
        margin: 10px 5px
    }
	/* End for sign in forms*/

	/* For NavBar*/
	.navbar {
		display: flex;
		flex-direction: row;
		top: 0;
		position: fixed;
		font-size: large;
		justify-content: space-around;
		align-items: center;
		background-color: lightcoral;
		width: 100%;
	}

	.navbar a:hover {
		color: orange;
	}

	.navbar input:hover {
		color: orange;
	}

	.navbar-links input {
		color: blue;
		background-color: transparent;
		border: none;
	}

	a {
		color: blue;
		padding: 0 10px 0 10px;
		text-decoration: none;
	}

	.navbar-links a:focus {
		color: maroon;
	}

	.navbar-links input:focus {
		color: maroon;
	}
	/* End for NavBar*/
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
		width: 100vw;
        margin: 0;
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
    }

	/* For sign in forms*/
	.form-signin {
		margin-top: -25vh;
		background-color: aqua;
		padding: 20px;
		border-radius: 15px;
		width: fit-content;
	}

    .react-logo {
        width: 55;
        height: 55;
    }

	.form-floating {
		position: relative;
	}
	
	.form-control {
		width: 100%;
		color: var(--bs-body-color);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: var(--bs-body-bg);
		border: var(--bs-border-width) solid var(--bs-border-color);
		border-radius: var(--bs-border-radius);
		background-clip: padding-box;
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		display: block;
	}

	.form-signin input[type="text"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.btn {
		border-radius: 20px;
		background-color: rgba(22, 36, 240, 0.575);
		width: 100%;
	}

	.btn:hover {
		background-color: aquamarine;
	}

    p {
        color: rgb(8, 8, 22);
        margin: 10px 5px
    }
	/* End for sign in forms*/

	/* For NavBar*/
	.navbar {
		display: flex;
		flex-direction: row;
		top: 0;
		position: fixed;
		font-size: large;
		justify-content: space-around;
		align-items: center;
		background-color: lightcoral;
		width: 100%;
	}

	.navbar a:hover {
		color: orange;
	}

	.navbar input:hover {
		color: orange;
	}

	.navbar-links input {
		color: blue;
		background-color: transparent;
		border: none;
	}

	a {
		color: blue;
		padding: 0 10px 0 10px;
		text-decoration: none;
	}

	.navbar-links a:focus {
		color: maroon;
	}

	.navbar-links input:focus {
		color: maroon;
	}
	/* End for NavBar */
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  	display: block !important;
}